// Social media share.

.social-media-sharing li {
  margin-right: 2px;
}

.social-media-sharing .share img {
  width: 24px;
}

.node--podcast--teaser--social-share .social-media-sharing {
  text-align: center;
}
