.doc--type-default {
  &.doc--view-mode-icon {
    .field--name-field-icon {
      font-family: $mono_font;
      font-size: 0.8em;
      margin-right: -7px;
    }
  }

  &.doc--view-mode-full {
    background-color: $white;
    padding: 15px;
  }
}
