body.entity-form-route .page-content {
  background-color: transparent;
  padding: 0;
  margin: 0 0 50px; }

@media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {
  .form--column--2 .layout-region-entity-main-inner {
    column-count: 2;
    column-gap: 30px; }
    .form--column--2 .layout-region-entity-main-inner > * {
      break-inside: avoid; }
  .form--column--2 .layout-region-entity-main {
    width: 80%;
    float: left; }
  .form--column--2 .layout-region-entity-secondary {
    width: 20%;
    float: left;
    position: relative; }
    .form--column--2 .layout-region-entity-secondary .form-actions {
      margin: 0;
      background: #333;
      padding: 0 0 15px; }
    .form--column--2 .layout-region-entity-secondary .description {
      color: #DDD; }
    .form--column--2 .layout-region-entity-secondary .form-disabled label {
      color: #DDD; }
    .form--column--2 .layout-region-entity-secondary .layout-filler {
      background: #333;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 20%;
      z-index: 1; }
    .form--column--2 .layout-region-entity-secondary .entity-meta {
      position: relative;
      z-index: 2; }
  .messages {
    margin: 15px !important; }
  .layout-region-entity-secondary-inner {
    padding: 0 15px; }
  .layout-region-entity-footer {
    clear: both;
    width: 80%;
    padding: 0 15px; } }

.ui-dialog .layout-region-entity-main {
  width: 100%; }

.entity-browser-iframe-container {
  z-index: 0;
  width: 100% !important; }

.entity-browser-form {
  padding: 15px; }
  .entity-browser-form > .eb-tabs {
    margin: -15px -15px 15px; }

.ui-dialog .entity-form {
  padding: 30px; }
  .ui-dialog .entity-form .form-type-textfield > label,
  .ui-dialog .entity-form .fieldset-legend,
  .ui-dialog .entity-form .field--type-boolean label,
  .ui-dialog .entity-form .form-type-select > label,
  .ui-dialog .entity-form .form-type-textarea > label,
  .ui-dialog .entity-form .form-type-managed-file > label,
  .ui-dialog .entity-form .form-type-entity-autocomplete > label {
    font-size: 20px;
    font-weight: 700; }
  .ui-dialog .entity-form .field--type-boolean .description {
    margin-left: 30px;
    color: #000; }
  .ui-dialog .entity-form div[data-drupal-selector="edit-field-address-0-address-country-code"] {
    display: none; }
  .ui-dialog .entity-form .field--name-field-image {
    margin: 0; }
    .ui-dialog .entity-form .field--name-field-image table,
    .ui-dialog .entity-form .field--name-field-image td,
    .ui-dialog .entity-form .field--name-field-image th,
    .ui-dialog .entity-form .field--name-field-image tr {
      background: transparent !important; }
    .ui-dialog .entity-form .field--name-field-image thead {
      border: none; }
    .ui-dialog .entity-form .field--name-field-image .description,
    .ui-dialog .entity-form .field--name-field-image .field-add-more-submit,
    .ui-dialog .entity-form .field--name-field-image h4,
    .ui-dialog .entity-form .field--name-field-image td.field-multiple-drag {
      display: none; }
  .ui-dialog .entity-form .panel.field-group-details {
    border-top: 7px solid #ff0 !important;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 3px; }
  .ui-dialog .entity-form .form-inline > .form-item {
    display: inline-block; }
  .ui-dialog .entity-form .field--name-field-date {
    margin-top: 12px; }
  .ui-dialog .entity-form .form-item-field-image-0-inline-entity-form-image-0-alt {
    display: none; }

.node-article-anonymous-form.node-form .form-item-field-content-0-subform-field-name-0-value {
  display: none; }

.node-article-anonymous-form.node-form .paragraphs-dropbutton-wrapper {
  display: none; }

.node-article-anonymous-form.node-form .field-multiple-drag {
  display: none; }

.node-article-anonymous-form.node-form td {
  background: #F0F2F5 !important; }

.node-article-anonymous-form.node-form th {
  padding: 0 !important; }

.node-article-anonymous-form.node-form .paragraphs-subform label {
  display: none; }

/*# sourceMappingURL=entity-form.css.map */
