/**
 * Toolbar module styling.
 */

$toolbar-width: 240px;

body {
  padding-top: 72px !important;
}

header#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 52px;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
}

.menu--main {
  a {
    transition: all 0.25s ease 0s;
    border-left: 1px solid #222;

    &.icon {
      font-size: 0;
      background-color: #222;

      &:after {
        font-size: $font-size-large;
      }
    }

    &:hover {
      background-color: #222 !important;
    }
  }
}

body.toolbar-tray-open.toolbar-fixed {
  padding-top: 152px !important;

  header#navbar {
    top: 78px;
  }
}

body.toolbar-fixed {
  padding-top: 112px !important;

  header#navbar {
    top: 38px;
  }

  // Fix z-index.
  .toolbar-oriented .toolbar-bar {
    z-index: ($zindex-navbar-fixed + 1);
  }

  .navbar-fixed-top {
    top: 39px;
  }

  // Horizontal.
  &.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
    top: 79px;
  }

  // Vertical Open.
  &.toolbar-vertical.toolbar-tray-open {

    .navbar-fixed-top {
      left: $toolbar-width;
    }

    &.toolbar-fixed {
      margin-left: $toolbar-width;

      .toolbar-tray {
        padding-bottom: 40px;
        &, > .toolbar-lining:before {
          width: $toolbar-width;
        }
      }

    }

  }

}

// Remove flicking.
body.toolbar-loading {

  margin-top: 0;

  &.toolbar {
    margin-bottom: ($grid-gutter-width / 2);
  }
}

// Fix toolbar padding at top before document ready.
#toolbar-administration {
  position: fixed;
  top: 0;
  background-color: #2d2d2d;
  width: 100%;
  z-index: 101;
}
