.pager--wrapper--black-border {
  .pager li > a,
  .block-footer a {
    border: none;
    text-align: right;
    border-top: 1px solid #CCC;
    border-radius: 0;
    text-transform: none;
    padding-right: 0;
    display: block;
    font-family: $font-family-monospace;
    font-weight: 700;

    &:after {
      content: "";
      font-family: $font-family-icon;
      padding-left: 10px;
      vertical-align: -1px;
    }

    &:hover {
      background-color: transparent;
      color: #555;
    }
  }
}

.block-region-contentmain > .views-element-container {
  margin-bottom: 40px;

  > h4 {

  }
}

.more-link {
  clear: both;
  text-align: right;
  border-top: 1px solid #444;
  padding: 9px 0;
  margin-top: 20px;

  a {
    font-family: $font-family-monospace;
    font-weight: 700;

    &:after {
      content: "";
      font-family: $font-family-icon;
      padding-left: 10px;
      vertical-align: -1px;
    }
  }
}

.view-id-most_recent_node .more-link {
  clear: both;
}

.views-view-grid {
  .views-col {
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.views-exposed-form.style--bright {
  &.views-exposed-form--node-home-blocks-index-content {
    .form-item-search-api-fulltext {
      width: 55%;
      padding-right: 3px;

      .form-control {
        width: 100%;
      }
    }

    .form-item-field-tags {
      width: 25%;
      padding-right: 3px;
    }

    .form-item-sort-bef-combine {
      width: 20%;

      .select-wrapper {
        width: 100%;
      }

      .form-control {
        width: 100%;
      }
    }
  }
}

.view--row--space {
  .views-row {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
  }
}

.views-exposed-form--node-home-blocks-index-content {
  height: 60px;
}
