<div class="ajax-confirm ajax-confirm--webform">

  <div class="ajax-confirm--webform--inner">

    <div class="ajax-confirm--webform--success">
      <i class="fa fa-check"></i> {% trans %}Submission Received{% endtrans %}
    </div>

    <div class="ajax-confirm--webform--summary">
    </div>

    <div class="ajax-confirm--webform--close">

    </div>

  </div>

</div>
