<div id="episode-recent">
  <div id="episode-recent--inner" class="clearfix">
    <div id="episode-recent--heading" class="block-heading"><h2>{% trans %}Season 3 <span class="heading-strong">Episode 12{% endtrans %}</span></h2></div>
    <div id="episode-recent--player">
      <div id="episode-recent--player--inner">
        <div class="art19-web-player awp-medium" data-background-color="#000" data-episode-id="9a71efcf-7df6-49c9-aee7-bb7724ec5cf0"></div>
      </div>
    </div>
    <div id="episode-recent--summary">In episode seventeen of season two we get an introduction to Min Hashing, talk with Frank Wood the creator of ANGLICAN, about probabilistic programming and his new company, INVREA, and take a listener question about how to choose an architecture when using a neural network.</div>
  </div>
  <div id="episode-recent--bottom">
    <div id="episode-recent--see-more" class="block-footer text-right">
      <div id="episode-recent--see-more--inner" class="block-footer--inner"><a href="/episodes">{% trans %}See more episodes{% endtrans %}</a></div>
    </div>
  </div>
</div>
