body.page--node--4662 {
  .pond .col-md-4.radix-layouts-secondarycolumn2 {
    width: 66%;
  }
}

.entity-type--feeds-feed,
.entity-type--node.bundle--api-endpoint.view-mode--teaser {
}

.field--type-uri {
  .field__item {
    white-space: normal;
    word-break: break-all;
  }
}